# Environnement virtuel
.venv/
__pycache__/
*.pyc

# PyInstaller build
dist/
build/
output/
release/

# VS Code settings
.vscode/

# Data
assets/data
assets/data_old
assets/data_save
assets/change_it.py
data/
SpellViewerInstaller.exe
error.log
SpellViewerInstallerv1.1.exe
SpellViewerInstallerv1.2.exe
